Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
dist
!mind-map/dist
!mind-map/index.html
staticFolder
logs
**/*/node_modules
**/node_modules
**/*/dist
!mind-map/dist
**/*/.umi
**/*/.next
**/*/.git
**/*/.gitignore
**/*/.DS_Store
**/*/.env
**/*/.umi-production
