Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
dist
!mind-map/dist
!mind-map/index.html
staticFolder
logs
**/*/node_modules
**/node_modules
**/*/dist
!mind-map/dist
**/*/.umi
**/*/.next
**/*/.git
**/*/.gitignore
**/*/.DS_Store
**/*/.env
**/*/.umi-production
!packages/admin/dist
!packages/admin/dist/**
!packages/website/.next/standalone
!packages/website/.next/standalone/**
!packages/website/.next/static
!packages/website/.next/static/**
.pnpm-store
tests/host-dev/runtime
tests/manual-v1.3.0/runtime
tests/manual-v1.2.1/runtime
